<h1>Welcome to the Workout Tracker!</h1>

<h3>This site helps you to keep track of your workouts, so you can refer back to them.</h3>

<p><%= link_to 'View all workouts', workouts_path %>
<p><%= link_to 'Add a new workout log', new_workout_path %>

