// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$background-color: #F5F5F5;

* {
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
}

p {
  font-size: 20px;
}

a:hover {
  color: blue;
}

/* For desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 5px;
}

input[type="text"] {
  width: 100%;
}

.sub-button {
  font-size: 16px;
  border: none;
  padding: 5px;
  background-color: white;
  color: black;
  border: 1px solid;
  border-radius: 4px;
}

.sub-button:hover {
  background-color: black;
  color:white;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    body {
        font-size: 20px;
    }
    input[type="text"] {
      font-size: 14px;
      width: 100%;
    }    
    .sub-button {
      width: 100%;
    }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
}
